@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,500;0,700;0,800;1,400;1,600&display=swap');
.footer {
    background-color: #414141;
    width: 100%;
    text-align: left;
    font-family: Poppins;
    font-weight: bold;
    font-size: 16px;
    padding: 50px;
    margin-top: 50px;
  }
  
  .footer .footer-left,
  .footer .footer-center,
  .footer .footer-right {
    display: inline-block;
    vertical-align: top;
  }
  
  /* footer left*/
  .footer .footer-left {
    width: 33%;
    padding-right: 15px;
  }
  
  .footer .about {
    line-height: 20px;
    color: #ffffff;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
  }
  
  .footer .about span {
    display: block;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  /* footer center*/
  .footer .footer-center {
    width: 30%;
  }
  
  .footer .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
  }
  
  .footer .footer-center p span {
    display: block;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .footer .footer-center p a {
    color: #06C167;
    text-decoration: none;
  }
  
  /* footer right*/
  .footer .footer-right {
    width: 35%;
  }
  
  .footer h2 {
    color: #ffffff;
    font-size: 36px;
    font-weight: normal;
    margin: 0;
  }
  
  .footer h2 span {
    color: #06C167;
  }
  
  .footer .menu {
    color: #ffffff;
    margin: 20px 0 12px;
    padding: 0;
  }
  
  .footer .menu a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
  }
  
  .footer .menu a:hover {
    color: #06C167;
  }
  
  .footer .name {
    color: #06C167;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
  }
  
  
  .social {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .social li {
    list-style: none;
  }
  
  .social li a {
    display: inline-block;
    filter: invert(1);
    transform: scale(0.5);
    transition: 0.5s;
  }
  
  .social li a:hover {
    transform: scale(0.5) translateY(-15px);
  }
  
  @media (max-width: 767px) {
  
    .footer {
      font-size: 14px;
    }
  
    .footer .footer-left,
    .footer .footer-center,
    .footer .footer-right {
      display: block;
      width: 100%;
      margin-bottom: 60px;
      text-align: center;
    }
  
    .sociallist {
      padding-left: 60px;
    }
  }
  